#project-nebula.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true') ×
      .modal-body
        p One fine body…
