#about {
  position: relative;
  z-index: 2;
  background-color: $background-color;
  text-align: center;

  .subheading .glyphicon {
    color: $pin-icon-color;
    font-size: 0.9em;
    margin-right: 0.3em;
  }

  img {
    margin: 50px 0 30px 0;
  }

  .btn-resume {
    margin: 50px 0 20px 0;
  }

  .btn-navigate-down {
    &:hover,
    &:active,
    &:focus {
      color: darken($teal, 15%);
    }
  }
}
