#home {
  position: relative;
  z-index: 2;
	color: $white;
	background: $primary-color;
	overflow: hidden;
	width: 100%;

	svg {
		margin: 30px;
	}

	h1 {
		font-size: 9.3vw;
    position: absolute;
    bottom: 90px;
    text-shadow: 0 0 20px rgba($primary-color, 0.5);

		.title-small {
			color: $light-teal;
			display: block;
			font-size: 0.55em;
			font-weight: 300;
			line-height: 1.4em;
		}

		.title-big {
			color: $white;
			display: block;
			font-weight: 900;
			line-height: 0.95em;
		}

    @media($screen-xs) {
    	font-size: 17vw !important;
    }

    @media($screen-sm) {
    	//font-size: 10vw !important;
    }
	}

  .anchor-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .btn-navigate-down {
		color: $white;

    &:hover,
    &:active,
    &:focus {
      color: darken($primary-color, 15%);
    }
  }
}
