#home {
  position: relative;
  z-index: 2;
	color: $primary-color-inverse;
	background: $primary-color;
	overflow: hidden;
	width: 100%;

  .parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    opacity: 0.2;
  }

	svg {
		margin: 30px;
	}

	h1 {
		font-size: 9.3vw;
    position: absolute;
    bottom: 90px;
    text-shadow: 0 0 20px rgba($primary-color, 0.5);

		.title-small {
			color: desaturate(lighten($primary-color, 30%), 40%);
			display: block;
			font-size: 0.55em;
			font-weight: 300;
			line-height: 1.4em;
		}

		.title-big {
			color: $primary-color-inverse;
			display: block;
			font-weight: 900;
			line-height: 0.95em;
		}

    @media($screen-xs) {
    	font-size: 17vw !important;
    }

    @media($screen-sm) {
    	//font-size: 10vw !important;
    }
	}

  .anchor-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .btn-navigate-down {
		color: darken($primary-color, 20%);

    &:hover,
    &:active,
    &:focus {
      color: darken($primary-color, 30%);
    }
  }
}
