#projects {
  position: relative;
  z-index: 2;
  margin-bottom: 200px;
  background-color: $panel-background-color;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);

  .project {
		padding: 0 !important;
    overflow: hidden;

    img {
      transition: all 400ms;
      transition-timing-function: ease-in-out;

      &:hover {
        filter: grayscale(33%) brightness(66%);
        transform: scale(1.1);
      }
    }
	}

  &.no-hover .project img:hover {
    filter: none;
    transform: none;
  }
}




.project-modal {
  font-size: 16px;
  padding: 0 !important;

  &.fade {
    transition: all 0.3s;

    .modal-dialog {
      transform: translate(0, 0);
    }
  }

  .modal-dialog {
    width: 100%;
    min-height: 100%;
    margin: 0;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;
  }

  .modal-header {
    border: none;

    .close {
      font-size: 34px;
      margin-top: -7px;
    }
  }

  .modal-body {

    .label {
      margin: 2px;
    }

    .btn {
      margin: 50px 5px;
    }
  }

  .laptop {
    width: 100%;
    margin: 20px auto;

    // The bottom of the laptop
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 20px;
      background: darken($laptop-grey, 15%);
      border-radius: 30px/10px;
      position: relative;
      top: -12px;

      @media($screen-xxs) {
        height: 15px;
        border-radius: 23px/7.5px;
        top: -9px;
      }
    }
  }

  .laptop-screen {
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 20px 15px 30px 15px;
    background: $laptop-black;
    border-radius: 18px;
    overflow: hidden;

    @media($screen-xxs) {
      padding: 13px 10px 23px 10px;
      border-radius: 13px;
    }
  }

  .laptop-base {
    position: relative;
    margin-top: -10px;
    width: 100%;
    height: 20px;
    background: $laptop-grey;
    z-index: 2;

    @media($screen-xxs) {
      height: 13px;
      margin-top: -7px;
    }

    // The hand groove bit
    &:before {
      content: '';
      display: block;
      width: 17.5%;
      height: 10px;
      background: darken($laptop-grey, 15%);
      margin: 0 auto;
      border-radius: 0 0 10px 10px;

      @media($screen-xxs) {
        height: 7.5px;
        border-radius: 0 0 7.5px 7.5px;
      }
    }

    // The little slot thing
    &:after {
      content: '';
      display: block;
      width: 5%;
      height: 3px;
      background: darken($laptop-grey, 15%);
      float: right;
      margin: -1px 35px 0 0;
      border-radius: 2.5px;
    }
  }

  .modal-footer {
    border: none;
  }
}

.modal-backdrop {
  background-color: rgba($background-color, 0.5);
  // background-color: transparent;
}
