//- #project-nebula.project
//-   .container
//-     .row
//-       .col-xs-12.col-sm-5
//-         a(href="#", data-toggle="project") Back
//-         h3 Nebula
//-           span.subheading Product
//-         p Some words 
//-         a.btn.btn-default.btn-teal
//-           i.fa.fa-globe
//-           | Visit site
//-         a.btn.btn-default.btn-teal
//-           i.devicon-github-plain
//-           | View source
//-         .project-tags
//-           i.devicon-javascript-plain
//-           i.devicon-nodejs-plain
//-           
//-       .col-xs-12.col-sm-7
//-         img.img-responsive(src="assets/project-nebula-mac.png", alt="")



.modal.fade(class="project-modal modal fade", id="project-nebula", tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', class='btn-close' data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
          
      .modal-body
        .container-fluid
          .row
            .col-xs-12.col-sm-6
              img.img-responsive(src="assets/project-nebula-mac.png", alt="")
            .col-xs-12.col-sm-6
              h3 Nebula CAS
                span.subheading Product / Application
              p I have been the lead developer on this SCORM application product for x years.......
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut consectetur neque, vel pulvinar purus. Morbi non sapien et ex fringilla congue. Fusce mattis ultricies quam ac volutpat. Pellentesque dignissim commodo sem. 
              p Maecenas venenatis auctor est, non convallis lectus vulputate a. Duis sit amet ligula ac ligula pellentesque luctus. In cursus blandit accumsan. Vivamus sollicitudin pharetra orci dictum iaculis. Praesent ut dui mollis, dapibus risus in, lacinia orci. Nam venenatis diam in lacus tincidunt tempor.
              span.label HTML
              span.label CSS
              span.label JavaScript
              span.label jQuery
              span.label NPM
          
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes
