
.modal.fade(class="project-modal modal fade", id="project-windowrescue", tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', class='btn-close' data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
          
      .modal-body
        .container-fluid
          .row
            .col-xs-12.col-sm-6
              img.img-responsive(src="assets/project-windowrescue-mac.png", alt="")
            .col-xs-12.col-sm-6
              h3 Window Rescue
                span.subheading Brochure Website
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut consectetur neque, vel pulvinar purus. Morbi non sapien et ex fringilla congue. Fusce mattis ultricies quam ac volutpat. Pellentesque dignissim commodo sem. 
              p Maecenas venenatis auctor est, non convallis lectus vulputate a. Duis sit amet ligula ac ligula pellentesque luctus. In cursus blandit accumsan. Vivamus sollicitudin pharetra orci dictum iaculis. Praesent ut dui mollis, dapibus risus in, lacinia orci. Nam venenatis diam in lacus tincidunt tempor.
              span.badge HTML
              span.badge CSS
              span.badge JavaScript
              span.badge jQuery
              span.badge drupal
            .col-xs-12.col-sm-6
            .col-xs-12.col-sm-6
              a.btn.btn-default.btn-default.btn-lg.disabled(href="#") View source
              a.btn.btn-default.btn-primary.btn-lg.disabled(href="#") View site
          
      .modal-footer
