
.modal.fade(class="project-modal modal fade", id="project-yoyoboco", tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', class='btn-close' data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
          
      .modal-body
        .container
          .row
            .col-xs-12.col-sm-7
              .laptop
                .laptop-screen
                  img.img-responsive(src="assets/project-yoyoboco.png")
                .laptop-base
            .col-xs-12.col-sm-5
              h3 yoyoboco
                span.subheading Landing Page
              p A simple one pager to establish a web presence for a local florist. Minalist design with two buttons: a mailto link, and a link to their instagram page.
              p The challenge here was to get the diagonal colour split to work at all sizes across all browsers. This was overcome using javascript to draw an inline svg.
              span.label.label-default NPM
              span.label.label-default JADE
              span.label.label-default HTML
              span.label.label-default SASS
              span.label.label-default CSS
              span.label.label-default JavaScript
              span.label.label-default jQuery
              br
              a.btn.btn-default.btn-lg(href="https://github.com/marcnewport/yoyoboco", target="_blank") View source
              a.btn.btn-default.btn-primary.btn-lg(href="http://yoyoboco.com/", target="_blank") Visit site
          
      .modal-footer
