
.modal.fade(class="project-modal modal fade", id="project-yoannahelyse", tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', class='btn-close' data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
          
      .modal-body
        .container
          .row
            .col-xs-12.col-sm-6
              .laptop
                .laptop-screen
                  img.img-responsive(src="assets/project-yoannahelyse-alt.png")
                .laptop-base
            .col-xs-12.col-sm-6
              h3 Yoannah Elyse
                span.subheading Portfolio Website
              p A Drupal theme for an artists portfolio website. We wanted a minimalistic approach to keep focus on the artwork itself.
              p This theme is an example of a responsive design without the aid of a framework such as Bootstrap.
              span.label.label-default MySQL
              span.label.label-default PHP
              span.label.label-default Drupal
              span.label.label-default HTML
              span.label.label-default CSS
              span.label.label-default JavaScript
              span.label.label-default jQuery
              br
              a.btn.btn-default.btn-lg(href="https://github.com/marcnewport/yoannah-elyse", target="_blank") View source
              a.btn.btn-default.btn-primary.btn-lg(href="http://yoannahelyse.com/", target="_blank") Visit site
          
      .modal-footer
