
.modal.fade(class="project-modal modal fade", id="project-adapt", tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', class='btn-close' data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
          
      .modal-body
        .container-fluid
          .row
            .col-xs-12.col-sm-6
              .laptop
                .laptop-screen
                  img.img-responsive(src="assets/project-adapt.png")
                .laptop-base
            .col-xs-12.col-sm-6
              h3 Adapt
                span.subheading Web Application
              p This is a ...
              span.label.label-default MongoDB
              span.label.label-default JavaScript
              span.label.label-default Node
              span.label.label-default HTML
              span.label.label-default CSS
              span.label.label-default jQuery
              span.label.label-default SCORM
              br
              a.btn.btn-default.btn-lg.disabled(href="#") Source unavailable
              a.btn.btn-default.btn-primary.btn-lg(href="demos/adapt/", target="_blank") View demo
          
      .modal-footer
