
.modal.fade(class="project-modal modal fade", id="project-windowrescue", tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', class='btn-close' data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
          
      .modal-body
        .container-fluid
          .row
            .col-xs-12.col-sm-6
              img.img-responsive(src="assets/project-windowrescue-mac.png", alt="")
            .col-xs-12.col-sm-6
              h3 Window Rescue
                span.subheading Brochure Website
              p A single page website for a local small business in Wellington, New Zealand.
              p I used NPM as a build tool and static site generator with the use of tools such as jade and sass. This setup was an experiment in rapid development for single page sites, which I deemed a success - in fact, it is the same setup used to build this portfolio site.
              span.label.label-default NPM
              span.label.label-default HTML
              span.label.label-default CSS
              span.label.label-default Bootstrap
              span.label.label-default JavaScript
              span.label.label-default jQuery
            .col-xs-12.col-sm-6
            .col-xs-12.col-sm-6
              a.btn.btn-default.btn-default.btn-lg(href="https://github.com/marcnewport/windowrescue", target="_blank") View source
              a.btn.btn-default.btn-primary.btn-lg(href="http://windowrescue.co.nz", target="_blank") Visit site
          
      .modal-footer
