
.modal.fade(class="project-modal modal fade", id="project-nebula", tabindex="-1", role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', class='btn-close' data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
          
      .modal-body
        .container-fluid
          .row
            .col-xs-12.col-sm-6
              .laptop
                .laptop-screen
                  img.img-responsive(src="assets/project-nebula.png")
                .laptop-base
            .col-xs-12.col-sm-6
              h3 Nebula CAS
                span.subheading Web Application
              p This is a web application with two parts; a Drupal authoring tool for maintaining content and media which produces a web application (SCO) for online learning systems (LMS).
              p The web application is used for delivering material, and then assessing on that material with a variety of interactions.
              p I have been the lead developer on this product for the past four years, guiding it from a bespoke tool into a SaaS application.
              span.label.label-default MySQL
              span.label.label-default PHP
              span.label.label-default HTML
              span.label.label-default CSS
              span.label.label-default Drupal
              span.label.label-default JavaScript
              span.label.label-default jQuery
              span.label.label-default SCORM
              br
              a.btn.btn-default.btn-lg.disabled(href="#") Source unavailable
              a.btn.btn-default.btn-primary.btn-lg(href="demos/nebula/", target="_blank") View demo
          
      .modal-footer
