$black: #161C1B;
$dark-grey: #212B2A;
$grey: #6D7372;
$light-grey: #B6B9B9;
$white: #F6FAFA;
$teal: #01B2AA;
$light-teal: #A8E5E2;
$dark-teal: #003D3A;
$red: #db6081;

$primary-color: $teal;
$secondary-color: $teal;
$tertiary-color: $teal;

$body-color: $black;
