@import 'https://fonts.googleapis.com/css?family=Lato:300,400,900|Open+Sans:300,400';

$body-font: 'Open Sans', Arial, Sans-serif;
$heading-font: Lato, 'Lucida Grande', Sans-serif;

@mixin body-font() {
	font-family: $body-font;
	font-weight: 300;
}

@mixin heading-font() {
	font-family: $heading-font;
	font-weight: 700;
	text-transform: uppercase;
}

@mixin subheading-font() {
	font-family: $heading-font;
	font-size: 0.7em;
	line-height: 2em;
	font-weight: 400;
	color: $grey;
	display: block;
}
