// Colors //////////////////
$black: #161C1B;
$dark-grey: #212B2A;
$grey: #6D7372;
$light-grey: #B6B9B9;
$white: #F6FAFA;
$teal: #01B2AA;
$light-teal: #A8E5E2;
$dark-teal: #003D3A;
$red: #db6081;
$laptop-black: #202227;
$laptop-grey: #d2d3d4;

$primary-color: $teal;
$primary-color-inverse: $white;

$secondary-color: $dark-grey;
$secondary-color-inverse: $white;

$foreground-color: $black;
$background-color: $white;

$panel-foreground-color: $black;
$panel-background-color: $light-grey;

$pin-icon-color: $red;



// Typography //////////////
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,900|Open+Sans:300,400';

$body-font-family: 'Open Sans', Arial, Sans-serif;
$body-font-size: 20px;
$body-font-weight: 300;
$body-line-height: 1.2em;

$heading-font-family: Lato, 'Lucida Grande', Sans-serif;
$heading-font-size: Lato, 'Lucida Grande', Sans-serif;
$heading-font-weight: 700;

$subheading-font-family: $heading-font-family;
$subheading-font-size: $heading-font-family;
$subheading-font-weight: 400;



// Screen sizes ///////////////////////
$screen-xxs: 'max-width:550px';
$screen-xs: 'max-width:767px';
$screen-sm: 'min-width:768px';
$screen-md: 'min-width:992px';
$screen-lg: 'min-width:1200px';
