doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Marc Newport | Front End Developer
    meta(name='application-name', content='Marc Newport')
    meta(name='author', content='marcnewport@gmail.com')
    meta(name='description', content='Description of the page')
    meta(name='keywords', content='Comma separated keywords')
    meta(name='rating', content='General')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:900', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:700,400', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,700,400', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,700,100italic,300italic', rel='stylesheet', type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    // http://devicon.fr
    link(href='https://cdn.rawgit.com/konpa/devicon/89f2f44ba07ea3fff7e561c2142813b278c2d6c6/devicon.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet', type='text/css')
    script(src='//localhost:35729/livereload.js?snipver=1')
    //script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    //- script(src='//use.typekit.net/fsl5mgj.js')
    //- script.
    //-   try{Typekit.load();}catch(e){}
  body
    #navigation-toggle
      i.fa.fa-navicon
      
      
    section#navigation
      nav
        ul
          li
            a(href='#home') Home
          li
            a(href='#about') About
          li
            a(href='#projects') Projects
          li
            a(href='#contact') Contact
            
            
    section#home
      .container
        .row
          .col-xs-12
            h1 Marc Newport
            hr
            h2.subheading Front End Developer
            p I build semantically sound and accessible web applications using the best practices to enable cross browser compatibility on all screen sizes.
    
    
    section#skills
      .container
        .row
          .col-xs-12
            h2.section-title Skills
            hr
          .col-xs-12
            p I've been honing my skills for the past six years 
        .row.skill-list
          .skill.col-xs-4.col-sm-3
            i.devicon-html5-plain.colored
            span html
          .skill.col-xs-4.col-sm-3
            i.devicon-css3-plain.colored
            span css
          .skill.col-xs-4.col-sm-3
            i.devicon-javascript-plain.colored
            span javascript
          .skill.col-xs-4.col-sm-3
            i.devicon-php-plain.colored
            span php
          .skill.col-xs-4.col-sm-3
            i.devicon-mysql-plain.colored
            span mysql
          .skill.col-xs-4.col-sm-3
            i.devicon-jquery-plain.colored
            span jquery
          //- .skill.col-xs-4.col-sm-3
          //-   i.devicon-angularjs-plain.colored
          //-   span angular
          .skill.col-xs-4.col-sm-3
            i.devicon-sass-plain.colored
            span sass
          .skill.col-xs-4.col-sm-3
            i.devicon-bootstrap-plain.colored
            span bootstrap
          .skill.col-xs-4.col-sm-3
            i.devicon-wordpress-plain.colored
            span wordpress
          .skill.col-xs-4.col-sm-3
            i.devicon-drupal-plain.colored
            span drupal
          .skill.col-xs-4.col-sm-3
            i.devicon-git-plain.colored
            span git
          .skill.col-xs-4.col-sm-3
            i.devicon-linux-plain.colored
            span linux
          .skill.col-xs-4.col-sm-3
            i.devicon-apache-plain.colored
            span apache
          .skill.col-xs-4.col-sm-3
            i.devicon-atom-original.colored
            span atom
          .skill.col-xs-4.col-sm-3
            i.devicon-photoshop-plain.colored
            span photoshop
          .skill.col-xs-4.col-sm-3
            i.fa.fa-wheelchair
            span wcag
          .skill.col-xs-4.col-sm-3
            i.fa.fa-npm
            span npm
    
    
    section#projects
      .container
        .row
          .col-xs-12
            h2.section-title Projects
            hr
        .row
          .col-xs-12.col-sm-6.col-md-4
            img.img-responsive.img-thumbnail(src='assets/yoannahelyse-screenshot.png', alt='', data-toggle='modal', data-target='#project-1')
          .col-xs-12.col-sm-6.col-md-4
            img.img-responsive(src='assets/yoannahelyse-screenshot.png', alt='')
          .col-xs-12.col-sm-6.col-md-4
            img.img-responsive(src='assets/yoannahelyse-screenshot.png', alt='')
        
        .modals
          #project-1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='project-1-label')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                  h4#project-1-label.modal-title Modal title
                .modal-body
                  p this is some text
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
                  button.btn.btn-primary(type='button') Save changes
    
          
    section#awards
      .container
        .row
          .col-xs-12
            h2.section-title Awards
            hr
        .row.award-list
          .award-item.col-xs-6.col-sm-4
            i.fa.fa-certificate
            span.award Finalist, 
            span.title Best Interactive Scenario
            span.provider LearnX Asia Pacific
            span.year 2015
          .award-item.col-xs-6.col-sm-4
            i.fa.fa-certificate
            span.award Finalist, 
            span.title eLearning Sector – Higher Education
            span.provider eLearning Excellence Awards
            span.year 2014
          .award-item.col-xs-6.col-sm-4
            i.fa.fa-trophy.gold
            span.award Gold Medal, 
            span.title Best Custom Content
            span.provider Brandon Hall Group Excellence in Learning Awards
            span.year 2013
          .award-item.col-xs-6.col-sm-4
            i.fa.fa-trophy.gold
            span.award Category Winner, 
            span.title TAFE and Educational Student Resource
            span.provider Australian Educational Publishing Awards
            span.year 2013
          .award-item.col-xs-6.col-sm-4
            i.fa.fa-trophy.gold
            span.award First Place, 
            span.title Best Learning Program
            span.provider LearnX Asia Pacific
            span.year 2012
          .award-item.col-xs-6.col-sm-4
            i.fa.fa-trophy.silver
            span.award Second Place, 
            span.title Best eLearning Design Best Interactive Scenario
            span.provider LearnX Asia Pacific
            span.year 2012
          .award-item.col-xs-6.col-sm-4
            i.fa.fa-trophy.gold
            span.award Gold Winner, 
            span.title Best Employee Induction Training Program
            span.provider LearnX Asia Pacific
            span.year 2011
            
            
    section#clients
      .container
        .row
          .col-xs-12
            h2.section-title Clients
            hr
            p I've worked with varios local and global brands; here are some that you may recognise:
        .row.row-client
          .col-xs-4
            img.img-responsive.center-block(src='assets/ausgrid-logo.png', alt='Ausgrid')
          .col-xs-4
            img.img-responsive.center-block(src='assets/qbe-logo.png', alt='QBE')
          .col-xs-4
            img.img-responsive.center-block(src='assets/nutrition-australia-logo.png', alt='Nutrition Australia')
        .row.row-client
          .col-xs-3
            img.img-responsive.center-block(src='assets/apls-logo.png', alt='Advanced Paediatric Life Support')
          .col-xs-3
            img.img-responsive.center-block(src='assets/m2-logo.png', alt='M2 Group')
          .col-xs-3
            img.img-responsive.center-block(src='assets/vodafone-logo.png', alt='Vodafone')
          .col-xs-3
            img.img-responsive.center-block(src='assets/mitsubishi-logo.png', alt='Mitsubishi')
        .row.row-client
          .col-xs-4
            img.img-responsive.center-block(src='assets/lg-logo.png', alt='LG')
          .col-xs-4
            img.img-responsive.center-block(src='assets/beyond-blue-logo.png', alt='Beyond Blue')
          .col-xs-4
            img.img-responsive.center-block(src='assets/orygen-logo.png', alt='Orygen')
        
        
    section#contact
      .container
        .row
          .col-xs-12
            h2.section-title Contact
            hr
          .contact-method.col-xs-12.col-sm-4
            a(href='tel:0416668689')
              p
                i.fa.fa-phone
              p 04 1666 8689
          .contact-method.col-xs-12.col-sm-4
            a(href='mailto:marcnewport@gmail.com')
              p
                i.fa.fa-envelope
              p marcnewport@gmail.com
          .contact-method.col-xs-12.col-sm-4
            a(href='https://goo.gl/maps/5hm6w7EtHwT2', target='_blank')
              p 
                i.fa.fa-map-marker
              p Melbourne, Australia
          .contact-method.col-xs-12.col-sm-4
            a(href='http://au.linkedin.com/in/marcnewport', target='_blank')
              p 
                i.fa.fa-linkedin-square
              p LinkedIn
          .contact-method.col-xs-12.col-sm-4
            a(href='http://github.com/marcnewport', target='_blank')
              p 
                i.fa.fa-github-alt
              p GitHub
          .contact-method.col-xs-12.col-sm-4
            a(href='http://codepen.io/marcnewport', target='_blank')
              p 
                i.fa.fa-codepen
              p Codepen
          
          
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='//cdn.jsdelivr.net/scrollreveal.js/3.0.3/scrollreveal.min.js')
    script(src='js/main.js')
