doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Marc Newport | Front End Developer
    meta(name='application-name', content='Marc Newport')
    meta(name='author', content='marcnewport@gmail.com')
    meta(name='description', content='Description of the page')
    meta(name='keywords', content='Comma separated keywords')
    meta(name='rating', content='General')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato:900', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:700,400', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:900,700,400', rel='stylesheet', type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
    // http://devicon.fr
    link(href='https://cdn.rawgit.com/konpa/devicon/89f2f44ba07ea3fff7e561c2142813b278c2d6c6/devicon.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet', type='text/css')
    script(src='//localhost:35729/livereload.js?snipver=1')
    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    script(src='//use.typekit.net/fsl5mgj.js')
    script.
      try{Typekit.load();}catch(e){}
  body
    #navigation-toggle
      i.fa.fa-navicon
      
      
    section#navigation
      nav
        ul
          li
            a(href='#home') Home
          li
            a(href='#about') About
          li
            a(href='#projects') Projects
          li
            a(href='#contact') Contact
            
            
    section#home
      .container
        .row
          .col-xs-12
            h1 Marc Newport
            h2 Front End Developer
            p
              | I am
              strong passionate
              |  about the web! I build semantically sound and accessible web applications using the best practices to enable cross browser compatibility on all screen sizes.
    
    
    section#skills.container
      .row
        .col-xs-12
          h2.section-title Skills
        .col-xs-12
          p
            | I've been honing my skills for the past six years. YOUR FACES
      .row.skill-list
        .col-xs-4.col-sm-3
          i.devicon-html5-plain.colored
          span html5
        .col-xs-4.col-sm-3
          i.devicon-css3-plain.colored
          span css3
        .col-xs-4.col-sm-3
          i.devicon-javascript-plain.colored
          span javascript
        .col-xs-4.col-sm-3
          i.devicon-php-plain.colored
          span php
        .col-xs-4.col-sm-3
          i.devicon-mysql-plain.colored
          span mysql
        .col-xs-4.col-sm-3
          i.devicon-jquery-plain.colored
          span jquery
        .col-xs-4.col-sm-3
          i.devicon-angularjs-plain.colored
          span angular
        .col-xs-4.col-sm-3
          i.devicon-sass-plain.colored
          span sass
        .col-xs-4.col-sm-3
          i.devicon-bootstrap-plain.colored
          span bootstrap
        .col-xs-4.col-sm-3
          i.devicon-wordpress-plain.colored
          span wordpress
        .col-xs-4.col-sm-3
          i.devicon-drupal-plain.colored
          span drupal
        .col-xs-4.col-sm-3
          i.devicon-git-plain.colored
          span git
        .col-xs-4.col-sm-3
          i.devicon-linux-plain.colored
          span linux
        .col-xs-4.col-sm-3
          i.devicon-apache-plain.colored
          span apache
        .col-xs-4.col-sm-3
          i.devicon-atom-original.colored
          span atom
        .col-xs-4.col-sm-3
          i.devicon-photoshop-plain.colored
          span photoshop
          
    section#awards
      .container
        .row
          .col-xs-12
            h2.section-title Awards
        .row.award-list
          .award-item.col-xs-6.col-sm-4
            i.fa.fa-certificate
            span.award Finalist,
            span.title Best Interactive Scenario
            span.provider LearnX Asia Pacific
            span.year 2015
          .award-item.col-xs-6.col-sm-4
            i.fa.fa-certificate
            span.award Finalist,
            span.title eLearning Sector – Higher Education
            span.provider eLearning Excellence Awards
            span.year 2014
          .award-item.col-xs-6.col-sm-4
            i.fa.fa-trophy.gold
            span.award Gold Medal,
            span.title Best Custom Content
            span.provider Brandon Hall Group Excellence in Learning Awards
            span.year 2013
          .award-item.col-xs-6.col-sm-4
            i.fa.fa-trophy.gold
            span.award Category Winner,
            span.title TAFE and Educational Student Resource
            span.provider Australian Educational Publishing Awards
            span.year 2013
          .award-item.col-xs-6.col-sm-4
            i.fa.fa-trophy.gold
            span.award First Place,
            span.title Best Learning Program
            span.provider LearnX Asia Pacific
            span.year 2012
          .award-item.col-xs-6.col-sm-4
            i.fa.fa-trophy.silver
            span.award Second Place,
            span.title Best eLearning Design Best Interactive Scenario
            span.provider LearnX Asia Pacific
            span.year 2012
          .award-item.col-xs-6.col-sm-4
            i.fa.fa-trophy.gold
            span.award Gold Winner,
            span.title Best Employee Induction Training Program
            span.provider LearnX Asia Pacific
            span.year 2011
            
            
    section#clients.container
      .row
        .col-xs-12
          h2.section-title Clients
      .row
        .col-xs-12.client-list
          ul
            li
              img(src='assets/apls-logo.png', alt='Advanced Paediatric Life Support')
            li
              img(src='assets/m2-logo.png', alt='M2 Group')
            li
              img(src='assets/vodafone-logo.png', alt='Vodafone')
            li
              img(src='assets/mitsubishi-logo.png', alt='Mitsubishi')
            li
              img(src='assets/ausgrid-logo.png', alt='Ausgrid')
            li
              img(src='assets/qbe-logo.png', alt='QBE')
            li
              img(src='assets/nutrition-australia-logo.png', alt='Nutrition Australia')
            li
              img(src='assets/lg-logo.png', alt='LG')
            li
              img(src='assets/beyond-blue-logo.png', alt='Beyond Blue')
            li
              img(src='assets/orygen-logo.png', alt='Orygen')
              
              
    section#projects.container-fluid
      #slide-left.slide-control.disabled
        i.fa.fa-chevron-left
      .container
        .row
          .col-xs-12
            h2.section-title Projects
        #project-container
          .project-item
            .project-item-image
              img.img-responsive(src='assets/yoannahelyse-screenshot.png', alt='')
            .project-item-info
              h4 Yoannah Elyse
              p A deployed theme.
          .project-item
            .project-item-image
              img.img-responsive(src='assets/ninelanterns-screenshot.png', alt='')
            .project-item-info
              h4 Nine Lanterns
              p Another deployed theme.
          .project-item
            .project-item-image
              img.img-responsive(src='assets/yoannahelyse-screenshot.png', alt='')
            .project-item-info
              h4 Yoannah Elyse
              p A deployed theme.
      #slide-right.slide-control
        i.fa.fa-chevron-right
        
        
    section#contact.container-fluid
      .container
        .row
          .col-xs-12
            h2.section-title Contact
        .row
          .col-xs-12
            #map-canvas.no-pointer-events
            
        //- .row
        //-   .col-xs-6
        //-     form
        //-       .form-group
        //-         label(for='name') Name
        //-         input#name.form-control(type='text', placeholder='Name')
        //-       .form-group
        //-         label(for='email') Email
        //-         input#email.form-control(type='email', placeholder='Email')
        //-       .form-group
        //-         label(for='email') Subject
        //-         input#subject.form-control(type='text', placeholder='Subject')
        //-       .form-group
        //-         label(for='message') Message
        //-         textarea#message.form-control(rows='5') Message
        //-       button.btn.btn-primary.btn-big(type='submit') Submit
        //-   .col-xs-6
          
          
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
    script(src='js/main.js')
